html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #fff;
  --primery-black-color: #2f303a;
  --secondary-bgc: #f5f4fa;
  --icon-bgc: #afb1b8;
  --our-timing-effect: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primery-white-color);
}

/* Секция */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Контейнер */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

/* Общие стили для кнопок */
.button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}

.button-style {
  min-width: 200px;
  height: 50px;

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  color: var(--primery-white-color);

  background-color: var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

/* Убираем стили у списков и ссылок */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Одинаковые стили для нашего логотипа */
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* одинаковые стили для текста в шапке */
.font-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Убираем лишнее 4рх у картинок */
img {
  display: block;
}

/* textarea */
textarea {
  resize: none;
}

/* ==================Стили для страницы Студия================== */
/* ================Шапка страницы============== */
.page-header {
  background-color: var(--primery-white-color);
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  color: var(--primary-text-color);
}

.logo__accent {
  color: var(--accent-color);
}

/* Главная навигация */
.header-nav__list {
  display: flex;
}

.header-nav__item {
  position: relative;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  transition: color 200ms var(--our-timing-effect);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link--active {
  color: var(--accent-color);
}

.header-nav__link--active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-nav__link--hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transition: transform 250ms var(--our-timing-effect);
}

.header-nav__link--hover:hover::after {
  transform: scaleX(1);
}

/* Наши контакты */
.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);

  transition: color 250ms var(--our-timing-effect),
    fill 250ms var(--our-timing-effect);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contacts__icon {
  margin-right: 10px;
}

/* ============Уникальный контент стрыницы=========== */
/* ====Наш герой ==== */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-color: #c4c4c4;
}

.hero-container {
  text-align: center;
}

.hero__title {
  margin: 0 0 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

/* ===Модалка нашего героя=== */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);

  transition: opacity 250ms var(--our-timing-effect),
    visibility 250ms var(--our-timing-effect);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--primery-white-color);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--our-timing-effect);
}

.backdrop .button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: var(--primery-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms var(--our-timing-effect);

  cursor: pointer;
}

.backdrop .button-close:hover {
  fill: var(--accent-color);
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;

  transition: outline 250ms var(--our-timing-effect);
}

.form__input:focus {
  outline: 1px solid var(--accent-color);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill 250ms var(--our-timing-effect);
}

.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__field--margin {
  margin-bottom: 20px;
}

.form__textarea {
  padding: 12px 16px;
  height: 120px;
  width: 100%;

  font-size: 14px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;

  transition: outline 250ms var(--our-timing-effect);
}

.form__textarea:focus {
  outline: 1px solid var(--accent-color);
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  background-origin: border-box;
  background-size: contain;

  transition: background-image 250ms var(--our-timing-effect),
    border 250ms var(--our-timing-effect),
    background-color 250ms var(--our-timing-effect);
}

.checkbox__input:checked ~ .checkbox__icon {
  background-image: url(../images/icon-check.svg);
  border: 2px solid transparent;
  background-color: var(--accent-color);
}

.checkbox__label {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox__link {
  color: var(--accent-color);
}

/* ==== Преимущества компании ==== */
.advant__list {
  display: flex;
}

.advant__item {
  width: calc((100%-3 * 30) / 4);
}

.advant__item:not(:last-child) {
  margin-right: 30px;
}

.advant__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--secondary-bgc);
}

.advant__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advant__text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* =====Чем мы занимаемся ==== */
.directions {
  padding-top: 0;
}

.directions__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.directions__list {
  display: flex;
  justify-content: center;
}

.directions__item {
  position: relative;
}

.directions__item:not(:last-child) {
  margin-right: 30px;
}

.directions__inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);

  transform: translateY(-100%);
}

.directions__desc {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

/* ===== Наша команда==== */
.our-team {
  background-color: var(--secondary-bgc);
}

.our-team__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team__list {
  display: flex;
  justify-content: center;
}

.our-team__item {
  padding-bottom: 30px;
  width: 270px;

  text-align: center;

  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team__avatar {
  margin-bottom: 30px;
}

.our-team__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team__profession {
  margin: 0 0 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:nth-child(4n)) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  fill: var(--icon-bgc);

  border-radius: 50%;

  transition: fill 250ms var(--our-timing-effect),
    background-color 250ms var(--our-timing-effect);
}

.socials__link:hover,
.socials__link:focus {
  fill: var(--primery-white-color);
  background-color: var(--accent-color);
}

/* ====Постоянные клиенты==== */
.reg-custom {
  padding-top: 78px;
}
.reg-custom__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.reg-custom__list {
  display: flex;
  justify-content: center;
}

.reg-custom__item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.reg-custom__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  fill: var(--icon-bgc);

  border: 1px solid var(--icon-bgc);
  border-radius: 4px;

  transition: fill 250ms var(--our-timing-effect),
    border 250ms var(--our-timing-effect);
}

.reg-custom__link:hover,
.reg-custom__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ================Подвал страницы================ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primery-black-color);
}

.footer__container {
  display: flex;
}

/* Наши контакты в подвале страницы */
.footer-contacts {
  margin-right: 70px;
}

.footer-contacts__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primery-white-color);
}

.footer-contacts__address {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}

.footer-contacts__mail,
.footer-contacts__tel {
  display: inline-block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--our-timing-effect);
}

.footer-contacts__mail:hover,
.footer-contacts__mail:focus {
  color: var(--accent-color);
}

.footer-contacts__tel:hover,
.footer-contacts__tel:focus {
  color: var(--accent-color);
}

.footer-contacts__mail {
  margin-bottom: 9px;
}

/* Присоединяйтесь */
.joinus {
  max-width: 206px;
  margin-top: 12px;
}

.joinus__title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.socials__link--changecolor {
  fill: var(--primery-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Подпишитесь на рассылку */
.subscription {
  margin-top: 12px;
  margin-left: auto;
}

.subscription-form__title {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.subscription-form__inner {
  display: inline-flex;
}

.subscription-form__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  color: var(--primery-white-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--primery-black-color);
  border-radius: 4px;
  outline: 1px solid transparent;

  transition: outline 250ms var(--our-timing-effect);
}

.subscription-form__input:focus {
  outline: 1px solid var(--accent-color);
}

.subscription-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscription-form__button {
  position: relative;
  padding-left: 29px;
  padding-right: 62px;
}

.subscription-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;

  fill: var(--primery-white-color);

  transform: translateY(-50%);
}

/* ===================Стили для страницы Портфолио=============== */
/* Навигация продуктов */
.products__title {
  margin: 0;
}

.products-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.products-nav__item:not(:last-child) {
  margin-right: 8px;
}

.products-nav__button {
  padding: 6px 22px;

  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: #f5f4fa;
  border-radius: 4px;

  transition: background-color 250ms var(--our-timing-effect),
    color 250ms var(--our-timing-effect),
    box-shadow 250ms var(--our-timing-effect);

  cursor: pointer;
}

.products-nav__button:hover,
.products-nav__button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Продукты компании */
.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.products-list__item {
  flex-basis: calc(100% / 3 - 30px);
  max-width: 100%;
  margin-left: 30px;
  margin-top: 30px;
}

.products-content__item {
  transition: box-shadow 250ms var(--our-timing-effect);
}

.products-content__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-content__wrapper {
  position: relative;
  overflow: hidden;
}

.products-content__inner {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: inline-flex;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--our-timing-effect);
}

.products-content__item:hover .products-content__inner {
  transform: translateY(-100%);
}

.products-content__inner-text {
  margin: 0;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}

.products-content__desc {
  padding: 20px 24px;

  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.products-content__title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products-content__text {
  margin: 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
